VITE_SUPABASE_URL=https://uvgigzqrksfaqyttkirv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV2Z2lnenFya3NmYXF5dHRraXJ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAzNTc0NDcsImV4cCI6MjA5NTkzMzQ0N30.L6zaOHVRwWCK8WtFmzS8TqNOq1YAVYDLGsxyrmYMjIU